xmc_aie_lib/
model_composer_work/
slprj/
*.slxc
*.log
.Xil/
*.slx.autosave
*.slx.r*
.nfs*
netlist*/
Thumbs*
code*/
*.asv
.crashReporter/
work/
workspace/
CLAUDE.md
SysgenFeatureReport.htm
Tutorials/HLS_Library/Lab4_HLS/HLS_to_HDL/stream_in.mat
Tutorials/HLS_Library/Lab4_HLS/HLS_to_HDL/video_handle.mat
